body {
    width: 100%;
    height:100vh;
    color: #000000;
    background-color: #656665;
    background-image: url(/images/login_bg.jpg); 
    background-repeat: no-repeat;
    background-size:cover;

   
  }


.bg_rgba {
    width:100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;
    
}



